.sidebar {
    background-color: #181818;
    color: white;
    font-family: "geist mono";
    width: 13em;
    height: 100vh;
    border: 1px solid #262626;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 4px;
}

.sidebar-title {
    padding: 0.25em;
    padding-left: 1em;
    border-radius: 6px;
}
